:root {
	font-family: system-ui, sans-serif;
	color: var(--color-text);
	line-height: 1.5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--color-background);
	background-image: radial-gradient(#20212512 0.7px, transparent 0.7px);
	background-size: 12px 12px;
}

button,
input,
select,
textarea {
	font: inherit;
}
