:root {
	--color-background: #f7f8f5;
	--color-text: #202923;
	--color-text-muted: #59665e;

	--color-surface: #ffffff;
	--color-border: #dce2dc;

	--color-input-border: #7b887f;
	--color-accent: #21634f;

	--color-accent-hover: #194d3e;

	--color-error: #a32929;
}
